.well dl dt{
	font-size: 1.5em;
  color: black;
  line-height: 1.2em;
}

.well dl dd{
	font-size: 1.1em;
	padding: 4px 0px 4px 0px;
}

.hero-unit{
  background-color: #DDD;
  padding: 45px 60px;
}

img.me{
  padding: 14px;
}
